<h1>Admin Dashboard</h1>
<h3>Store information</h3>
<div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= link_to 'Product Count', admin_products_path %></th>
            <th><%= link_to 'Category Count', admin_categories_path %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @products.length %>
            </td>
            <td>
              <%= @categories.length %>
            </td>

          </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
